@font-face {
    font-family: "Terminus"; 
    src: url("../fonts/TerminusTTF-4.49.3.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
        
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: #f8f9fa; /* Добавляем светло-серый фон */
}

.h1 {
    font-weight: bold;
    font-size: 36px; /* Увеличиваем размер заголовка */
    text-align: center;
    color: #2052af; /* Красный цвет текста */
    margin-top: 20px; /* Увеличиваем отступ сверху */
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.column {
    flex-basis: 30%;
    background-color: #fff; /* Белый фон */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.center {
    text-align: center;
    color: #2052af; /* Красный цвет текста */
}

.column h2 {
    color: #2d78e9; /* Красный цвет заголовков */
}
.column_centre {
	width:600;	
	margin-left:20%;
	margin-right:20%;
	text-align:center;
	flex-basis: 30%;
    	background-color: #fff; /* Белый фон */
    	padding: 20px;
    	border-radius: 5px;
    	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	display: block;

}
.column p {
    color: #555; /* Цвет обычного текста */
}

.column ul {
    list-style-type: none;
    padding: 0;
}

.column ul li a {
    color: #001ea3; /* Красный цвет ссылок */
    text-decoration: none;
}

.column ul li a:hover {
    text-decoration: underline; /* Подчеркиваем ссылку при наведении */
}

.passe-partout {
    margin-top: 12px;
    padding: auto;
    height: 180px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 100px;
    height: 100px;
}

.image-container{
    width: 240px;
    height: 160px;
}

.image-container-avaya{
    width: 280px;
    height: 100px;
}

a {
    transition: .3s all;
    opacity: 1;
    font-size: 1.3em;
    text-shadow: 0 0 10px #fff;
}
a:hover {
    color: #fff;    
    text-decoration: none;
    opacity: .6;
}

.image-container-sud{
    width: 120px;
    height: 60px; 
}

.container-sud {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.image-container-any{
    margin-top: 40px;
    width: 160px;
    height: 40px; 
}

.image-container-ass{
    width: 120px;
    height: 110px; 
}

.image-container-aero{
    margin-top: 5px;
    width: 140px;
    height: 100px; 
}

.image-container-apple{
    width: 140px;
    height: 160px; 
}



















.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    margin-left: 100px;
    display: none;
    position: absolute;
    background-color: #ebebeb;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius:6px;
}

.dropdown-content a {
    color: black;
    padding: 16px 12px;
    text-decoration: none;
    display: block;

}

.dropdown-content a:hover {background-color: #ddd; border-radius: 5px;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #1dbcd8;}
